.coffee-head {
    min-height: 30vh;
    background-color: #836f44;
    padding: 3rem;
    color: white;
    @include flex(center, center, column);
    text-align: center;

    h3 {
        padding: 1rem;
    }
}

.cards-background {
    background: linear-gradient(rgba(0,0,0,0.8), transparent), url(../img/melbourne/coffe_street.jpg);
    background-size: cover;
    background-position: center;
}

.cards {
    width: 90%;
    min-height: 70vh;
    margin: auto;
    @include flex(center, center, row);
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 40rem;
    min-height: 40vh;
    margin: 3rem 5rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0px 20px 20px rgba(0,0,0,0.1); 
    background: #ffffff; 
    border-radius: 10px;

    h4, p {
        padding: 1.5rem;
        color: $special-blue2;
    }
}

.card-icon1 {
    background: url(../img/coffee/latte.jpg);
    min-height: 15vh;
    background-size: cover;
    background-position: center;
}
.card-icon2 {
    background: url(../img/coffee/flatwhite.jpg);
    min-height: 15vh;
    background-size: cover;
    background-position: center;
}
.card-icon3 {
    background: url(../img/coffee/cappuccino.jpg);
    min-height: 15vh;
    background-size: cover;
    background-position: center;
}
.card-icon4 {
    background: url(../img/coffee/long.jpg);
    min-height: 15vh;
    background-size: cover;
    background-position: center;
}
.card-icon5 {
    background: url(../img/coffee/long-black.jpg);
    min-height: 15vh;
    background-size: cover;
    background-position: center;
}
.card-icon6 {
    background: url(../img/coffee/ristretto.jpg);
    min-height: 15vh;
    background-size: cover;
    background-position: center;
}

