* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $background-color;
}

h1 {
    font-size: $header1;
}

h2 {
    font-size: $header2;
    font-weight: 700;
}

h3 {
    font-size: $header3;
    font-weight: normal; /* 400 */
}

h4, h5 {
    font-size: $header4;
}

li, button, label, input, p, pre {
    font-size: $text;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background-color: $special-blue;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;

    &:hover {
        background: $special-blue2;
    }
}

button:hover {
    background: #193353;
}